body{
	width: 1280px;
	height: auto;
	display: table;
}
header{
	font-size: 1.2em;
	font-weight: 600;
	height: 61px;
	background: url(../img/task_1_9_1_01.gif) no-repeat;
}
header>a{
	position: absolute;
	top: 25px;
	left: 1180px;
}
header>a:link {
    text-decoration: none;
    color: #367432;
}
header>a:visited{
	text-decoration: none;
	color: #2B2A24;
}
header>a:hover{
	text-decoration: none;
	color: #54B558;
}
.em1{
	position: absolute;
	top: -3px;
	left: -47px;
}
.em2{
	position: absolute;
	top: -1px;
	left: 218px;
}
#Srch>input{
	border:none;
	width: 218px;
	height: 33px;
	background: url(../img/task_1_9_1_02.gif) no-repeat;
}
#Srch{
	position: absolute;
	left: 860px;
	top: 20px;
}
#main{
	width: 1280px;
	height: auto;
	display: table;
	border: 3px solid #F60909;
}
aside{
	width: 260px;
	height: 1211px;
	background-color: rgb(42, 46, 61);
	position: absolute;
	top: 66px;
}
.icon{
	width: 60%;
	position: absolute;
	left: 40px;
	top: 40px;
}
.icon>img{
	float: left;
	clear: both;
	padding: 0.1em;
}
.icon>p{
	font-size: 1.5em;
	font-weight: 500;
	color: rgb(255, 255, 255);
	float: right;
	clear: left;
}
.detl{
	color: rgb(110, 128, 149);
	font-size: 1.2em;
	position: absolute;
	text-align: center;
	top: 100px;
	left: 50px;
}
.em3{
	float: left;
	padding-right: 25px;
}
.em4{
	float: left;
	border-left: 2px solid rgb(110, 128, 149);
	padding-left: 25px;
}
.em5>a{
	text-decoration: none;
}
.em6>a{
	text-decoration: none;
}
.em5>a:visited{
	color: rgb(237, 237, 240);
}
.em6>a:visited{
	color: rgb(110, 128, 150);
}
.em5>a:hover{
	color: #54B558;
}
.em6>a:hover{
	color: #54B558;
}
.panel{
	width: 260px;
	display: table;
	background-color: rgb(56, 61, 78);
	position: relative;
	right: 52px;
}
.p1{
	position: relative;
	left: 20%;
}
.em5{
	width: 170px;
}
.em6{
	width: 170px;
}
.em5>img{
	float: left;
	padding-right: 6px;
}
.em5>p{
	float: right;
}
.em6>img{
	float: left;
	padding-right: 3%;
}
.em6>p{
	float: right;
}
.le1{
	padding-bottom:1%; 
}
.em7{
	position: relative;
	left: 7%;
}
.em8{
	position: relative;
	left: 22%;
}
#list{
	font-size: 13px;
	position: absolute;
	top: 200px;
	left: 20%;
}
#mainPanel{
	width: 1020px;
	height: 1211px;
	display: table;
	border:1px solid #cf2828;
	position: absolute;
	left: 267px;
	top: 65px;
	background-color: rgb(238, 238, 237);
}
nav{
	width: 1020px;
	height: 32px;
	background-color:rgb(255,255,255); 
}
.tet>a{
	text-decoration: none;

}
.tes>a{
	text-decoration: none;
}
.tet>a:visited{
	color: rgb(110, 128, 150);
}
.tet>a:hover{
	color: #54B558;
}
.tes>a:visited{
	color: rgb(117,160,198);
}
.tes>a:hover{
	color: #54B558;
}
#sch{
	width: 87.2%;
	height: 95px;
	position: absolute;
	top: 5%;
	left: 6%;
	background-color: rgb(255, 255, 255);
	background-image: url('../img/11.gif');
}
.a1>p{
	color: rgb(110, 128, 150);
	font-size: 0.9em;
}
.a1>select{
	position: absolute;
	top: 15px;
	left: 55px;
}
.a1{
	position: absolute;
	top: 10%;
	left: 6%;
}
.a2>p{
	color: rgb(110, 128, 150);
	font-size: 0.9em;
}
.a2>select{
	width: 100px;
	position: absolute;
	top: 23%;
	left: 38px;
}
.a2{
	position: absolute;
	left: 23.5%;
	top: 10%;
}
.a3>p{
	color: rgb(110, 128, 150);
	font-size: 0.9em;
}
.a3>select{
	width: 100px;
	position: absolute;
	top: 23%;
	left: 38px;
}
.a3{
	position: absolute;
	left: 23.5%;
	top: 36%;
}
.a4>p{
	color: rgb(110, 128, 150);
	font-size: 0.9em;
}
.a4>textarea{
	width: 9em;
	height: 1em;
	position: absolute;
	top: 24%;
	left: 38px;
}
.a4{
	position: absolute;
	left: 48%;
	top: 10%;
}
.a5>p{
	color: rgb(110, 128, 150);
	font-size: 0.9em;
}
.a5>select{
	width: 80px;
	height: 26px;
	position: absolute;
	top: 24%;
	left: 38px;
}
.a5{
	position: absolute;
	left: 48%;
	top: 38%;
}
.a6>p{
	color: rgb(110, 128, 150);
	font-size: 0.9em;
}
.a6>select{
	width: 10em;
	height: 26px;
	position: absolute;
	top: 24%;
	left: 52px;
}
.a6{
	position: absolute;
	left: 64%;
	top: 38%;
}
.a7>p{
	color: rgb(110, 128, 150);
	font-size: 0.9em;
}
.a7>select{
	width: 80px;
	height: 26px;
	position: absolute;
	top: 24%;
	left: 47px;
}
.a7{
	position: absolute;
	left: 70.5%;
	top: 8%;
}
#sch>button{
	width: 5em;
	height: 2em;
	background-color: rgb(57, 139, 194);
	color: rgb(255, 255, 255);
	position: absolute;
	top: 35%;
	left: 87%;
}
#lit{
	width: 89.2%;
	height: 72px;
	position: absolute;
	top: 14%;
	left: 6%; 
}
#lit>button{
	height: 93px;
	width: 34px;
	background-color: rgb(255, 255, 255);
	margin-right: 6px;
}
.b1{
	background-image: url('../img/12.gif');
	float: left;
}
.b2{
	background-image: url('../img/13.gif');
}
#lit>div{
	height: 90px;
	width: 126px;
	background-color: rgb(255, 255, 255);
	border-right: 1px solid #6E6E6E;
	border-left: 1px solid #6E6E6E;
	border-bottom: 1px solid #6E6E6E;
	margin-right: 8px;
}
.b2{
	float: left;
}
.b3{
	border-top: 3px solid rgb(67, 137, 200);
	float: left;
}
.b4{
	border-top: 3px solid #fff;
	float: left;
}
.b5{
	border-top: 3px solid #fff;
	float: left;
}
.b6{
	border-top: 3px solid #fff;
	float: left;
}
.b7{
	border-top: 3px solid #fff;
	float: left;
}
.b8{
	border-top: 3px solid #fff;
	position: absolute;
	top: 0px;
	left: 47.5em;
}
.b8>p{
	position: absolute;
	top: 1em;
	right: 20px;
	font-size: 1em;
	color: #6F6E6E;
}
.b8>img{
	position: absolute;
	top: 25%;
	right: 90px;
}
#lit>div>p{
	text-align: center;
}
.c1{
	color: #232323;
}
.c2{
	color: #6B6B6B;
	font-size: 1.3em;
}
.c3{
	color: rgb(236, 101, 0);
	font-size: 2em;
}

#mainPanel>p{
	color: #403E3E;
	position: absolute;
	top: 20.5%;
	left: 6%;
}
#data{
	width: 89.2%;
	height: 77px;
	position: absolute;
	top: 24%;
	left: 6%;
}
#data>div{
	width: 22.5%;
	height: 77px;
	border-right:1px solid #959595;
	border-top:1px solid #959595;
	border-bottom:1px solid #959595;
	margin-right: 1.79%;
	float: left; 
	background-color: rgb(255, 255, 255); 
}
#data>div>p{
	color: #343434;
	font-size: 0.8em;
	text-align: left;
	float: left;
	margin: 21px;
}
#data>div>p>span{
	color: #848383;
	font-size: 0.75em;
	text-align: left;
}
.d1>div{
	width: 60px;
	height: 47px;
	margin: 11px;
	float: right;
	border: 1px solid rgb(68, 178, 158);
	background-color: rgb(68, 178, 158);
}
.d1{
	border-left: 3px solid rgb(68, 178, 158);
}
.d2>div{
	width: 60px;
	height: 47px;
	margin: 11px;
	float: right;
	border: 1px solid rgb(56, 138, 193);
	background-color: rgb(56, 138, 193);
}
.d2{
	border-left: 3px solid rgb(56, 138, 193);
}
.d3>div{
	width: 60px;
	height: 47px;
	margin: 11px;
	float: right;
	border: 1px solid rgb(207, 74, 54);
	background-color: rgb(207, 74, 54);
}
.d3{
	border-left: 3px solid rgb(207, 74, 54);
}
.d4>div{
	width: 60px;
	height: 47px;
	margin: 11px;
	float: right;
	border: 1px solid rgb(226, 205, 71);
	background-color: rgb(226, 205, 71);
}
.d4{
	border-left: 3px solid rgb(226, 205, 71);
}
#mal{
	width: 52.5%;
	height: 347px;
	border: 1px solid #E5D941;
	position: absolute;
	top: 32%;
	left: 6%;
	background-color: rgb(255, 255, 255); 
}
#proj{
	width: 33.3%;
	height: 347px;
	border: 1px solid #D7614A;
	position: absolute;
	top: 32%;
	left: 60%;
	background-color: rgb(255, 255, 255); 
}
.e1{
	width: 100%;
	font-size: 0.8em;
	color: #848383;
	text-align: left;
	background-color: #EAEAEA;
	position: absolute;
	top: 0px;
}
.e1>p{
	margin-left: 20px;
}
.e2{
	position: absolute;
	top: 15%;
	left: 7%;
	border-bottom: 1px solid #D0CBCB;
	padding-bottom: 50px;
}
.e2>p{
	font-size: 1em;
	color: #848383;
	margin-bottom: 10px;
}
.e2>p>span{
	font-size: 0.9em;
	color: #090909;
}
.e2>table{
	width: 19em;
	border-bottom: 1px solid;
}
.e3{
	font-size: 1em;
	color: #848383;
}
.e5{
	position: absolute;
	bottom: 1%;
}
.e5>button{
	width: 5em;
	height: 2.6em;
	color: rgb(255,255,255);
	background-color: rgb(57, 139, 194);
	position: relative;
	left: 100px;
}
#calen{
	width: 34.4%;
	height: 363px;
	border: 1px solid #D354FA;
	position: absolute;
	top: 62%;
	left: 6%;
	background-color: rgb(255, 255, 255); 
}
#rank{
	width: 51.8%;
	height: 363px;
	border: 1px solid #2A832A;
	position: absolute;
	top: 62%;
	left: 41.5%;
	background-color: rgb(255, 255, 255); 
}
